<table width=auto cellspacing=0 cellpadding=3 border=1>
  <tr>
    <td><%= created %></td>
    <td><h1><%= recipient.name %></h1></td>
    <td><h2><%= recipient.contact %></h2></td>
    <td><%- text %></td>
    <td><%= id %></td>
  </tr>
</table>